/**
 * home.css - EmptyMyFridge
 * Stylesheet for the homepage.
 */

/**
 * ======================================================
 * ==================== TextBox CSS =====================
 * ======================================================
 */

/* Entire TextBox component. */
div#textBox {
    width: 90%;
    margin: 0 auto;
    max-width: 700px;
    position: relative;
    margin-bottom: 25px;
}

/* TextBox and Add button. */
div#textBox form {
    display: inline-block;
}

/* Text box. */
div#textBox form label input {
    border: 1px solid gray;
    border-radius: 3px;

    font-size: 1em;

    margin: 1em 0 0.75em 0;
    padding: 0.5em;

    width: 610px;
}

/* Filter dropdown parent div. */
div#textBox div#filters {
    display: inline-block;
}

/* Filter dropdown themselves. */
div#textBox div#filters select.dropdown {
    box-sizing: content-box;
    padding: 0.5em;
    margin-right: 1em;
}

/* Both Add & Go buttons. */
div#textBox form input#add,
div#textBox button {
    color: white;

    border: none;
    border-radius: 3px;

    font-size: 1em;

    margin: 1em 0.5em 0 0;
    padding: 0.6em 0.5em 0.4em 0.5em;

    position: absolute;
    right: 0;
}

/* Add Button. */
div#textBox form input#add {
    background-color: #4fbab3;
}

div#textBox form input#add:hover {
    background-color: #347b76;
    cursor: pointer;
}

/* Go Button. */
div#textBox button {
    background-color: #4a89a5;
    margin: 0 0.5em 0 0;
    padding-left: 2em;
    padding-right: 2em;
}

div#textBox button:hover {
    background-color: #3e627c;
    cursor: pointer;
}

/**
 * ======================================================
 * ================== IngredientList CSS ================
 * ======================================================
 */

/* Entire IngredientList component. */
div#ingredientList {
    background-color: white;
    border-radius: 3px;

    padding: 2em 3em;
    margin: 0 auto;

    width: 85%;
    max-width: 700px;
}

/* Component . */
div#ingredientList h4 {
    color: gray;

    font-weight: normal;
    font-size: 1.5em;
    margin: 0em 0.5em;
}


div#ingredientList h4#empty {
    color: black;
    text-align: center;
}

ul#ingredientList {
    list-style-type: none;

    padding: 0.5em;
}

/**
 * ======================================================
 * =================== Ingredient CSS ===================
 * ======================================================
 */

ul#ingredientList li.ingredient {
    background-color: white;
    border-radius: 3px;

    padding: 0em;
    margin: 0.5em 0em;

    width: 100%;
    height: 3em;
}

ul#ingredientList li.ingredient h5 {
    font-size: 1em;
    font-weight: normal;

    display: inline-block;
    margin: 1em 2em;
}

ul#ingredientList li.ingredient button {
    background-color: #741b2e;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 3px;

    padding: 0.7em;
    margin: 0.25em 0.25em;

    display: inline-block;
    float: right;
}
ul#ingredientList li.ingredient button:hover {
    background-color: #961e36;
    cursor: pointer;
}
