/**
 * header.css - EmptyMyFridge
 * Stylesheet for header bar elements.
 */

/**
 * ======================================================
 * ================== Static Header CSS =================
 * ======================================================
 */

/* Full width Header Bar */
header {
    font-size: 1em;
    background-color: #4f3366;

    position: relative;
    width: auto;

    padding: 0em 5em;
}

/* Header Bar Title (Replace with logo?) */
header h1 {
    display: inline-block;
    color: white;
    margin: 0em;
    padding: 1em 0em;
}

header aside#right {
    display: inline-block;
    padding: inherit;
    margin: 0em;

    position: absolute;
    bottom: 0em;
    right: 0em;
}

/**
 * ======================================================
 * =================== Link List CSS ====================
 * ======================================================
 */

/* Header Bar link list */
header ul {
    font-size: 1.15em;
    list-style: none;
    vertical-align: bottom;

    display: inline-block;
    padding: 0em;
    margin: 0em;
}

/* Header bar link containers */
header ul li {
    color: white;
    background-color: rgba(108, 95, 110, 0.6);

    display: block;
    float: left;

    margin-right: 0.25em;

    /* Prevent accidental text hightlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Header bar a links */
header ul li a {
    display: block;
    cursor: pointer;

    padding: 0.75em 1.1em;
}

/* Navigation bar rollover */
header li:hover {
    background-color: rgba(110, 110, 110, 0.9);
}

/**
 * ======================================================
 * ==================== UserBox CSS =====================
 * ======================================================
 */

/* Entire UserBox element */
header div#userBox {
    display: inline-block;
    background-color: rgba(190, 190, 190, 0.6);

    width: 12em;
    height: 100%;
    padding: 0.75em 0.5em;
}

/* Each half of the UserBox */
header div#userBox section {
    height: 100%;
    display: inline-block;
}

/* Info Half (Left) */
header div#userBox section#info {
    width: 55%;
    text-align: center;
}


header div#userBox section#info button {
    color: white;
    background-color: rgba(110, 110, 110, 0.6);

    font-size: 0.7em;
    border: none;
}

header div#userBox section#info h5 {
    font-weight: normal;
    text-decoration: underline;
    margin: 1em;
}


header div#userBox section#info button:hover {
    background-color: rgba(110, 110, 110, 0.9);
    cursor: pointer;
}

/* Picture Half (Right) */
header div#userBox section#pic {
    width: 45%;
    text-align: center;
}

header div#userBox section#pic img {
    width: 4em;
    height: 4em;
    margin-bottom: -0.4em;
    background-color: #bcbcbc;
    border-radius: 50%;
    overflow: hidden;
}
